/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 2px 0px 10px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}
.warningLabel {
  color: red;
  font-weight: bold;
  font-size: 1.5em;
}
.instLabel {
  
  font-weight: bold;
  font-size: 1.5em;
}
/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

#container {
   margin: 1%;
   padding: 0;
   width: 97%;
   /*background-color: #fc9;*/
}

#left {
	margin-left:auto;
	margin-right:auto;
	width: 110em; 
/*width: 90em; */
 /*width: 70%;*/  
  /* float: left;
   width: 46.5%;
   margin: 1% 0 1% 1%;
   padding: 1%;
   background-color: #9cf;
   color: #000;*/
}
#middleslider {
 margin: 1%;
   padding: 0;
   width: 97%;
}
#right {
	 margin: 1%;
   padding: 0;
   width: 97%;
  /* float: right;*/
  /* margin: 1% 1% 1% 0;*/
}
.instructionlabel  {
	margin-left:auto;
	margin-right:auto;
	width:70%;
 	font-weight: bold;
  	clear:both;
}
.my-button  {
	margin-left:auto;
	margin-right:auto;

  
}
.blankImage  {
	hight:1.5em;
	width:10em;
	 border: blank;
}
.blankImageSmall  {
	hight:1.5em;
	width:1.5em;
	 border: blank;
}
.centerplacement  {
	margin-left:auto;
	margin-right:auto;
	width:50%;
}

#query-wrapper {
	margin-left:auto;
	margin-right:auto;
	width:42em;
	height:11em;
}

.query-image {
	float:left;
	position:relative;
	padding:0em;
}

#query-scroll-left{
	float:left;	
	width:1em;
	height:1em;
	margin:auto;
	padding:0em;
}

#query-scroll-left .html-face{
	width:1em;
	height:1em;
	margin:auto;
	display: block;
	vertical-align: middle;
	position: relative;
	top: 4em;	
}

#query-scroll-right{
	float:left;	
	width:1em;
	height:1em;
	margin:auto;
	padding:0em;
}

#query-scroll-right .html-face{
	width:1em;
	height:1em;
	margin:auto;
	display: block;
	vertical-align: middle;
	position: relative;
	top: 4em;
}

#query-content-view{
	float:left;
	overflow: hidden;
	height: 11em;
	width: 33em;
}
#query-content {
	position:relative;
	left:0em;
	width:60em;
	margin: auto;
}

#answer-container {
	margin: auto;
	width:70em;
}

#answer-wrapper-view{
	float:left;
	overflow-x: hidden;	
	overflow-y: visible;	
	/*width: 65em;*/
	width: 100em;
}

#answer-wrapper {
	position: relative;
	left: 0em;
	width:600em;
	/*height: 160px;*/
}

.image-answer-item {
	float:left;
	position:relative;
	padding:0em;
	overflow: hidden;
	/*height: 160px;*/
	/*height: 40em;*/
	width:11em;
}

.hidden {
	display: none;
}

.first-answer-item {
	float:left;
	position:relative;
	padding:0em;
	width:11em;
	height: 11em;	
}

.first-answer-item .gwt-Label {
	margin: auto;
	text-align: center;
}

.last-answer-item {
	float:left;
	position:relative;
	padding:0em;
	width:11em;
	height: 11em;	
}

.last-answer-item .gwt-Label {
	margin: auto;
	text-align: center;
}

.separator-answer-item {
	float:left;
	position:relative;
	padding:0em;
	width: 4.5em;
	height: 14em;
	overflow: hidden;
}

.separator-answer-item span{
	width: 1em;
	position: relative;
	height: 1em;
	margin-left: auto;
	margin-right: auto;
}

.separator-answer-item img{
height: 40em;
width: 3em;
margin-left: auto;
margin-right: auto;
}

.tn-toggle-imgs {
	float:left;	
	width:10em;
	height:2em;
	margin:auto;
	padding:0em;
}

.tn-toggle-imgs .html-face {
	width:1em;
	height:1em;
	margin:auto;
	display: block;
	position: relative;
}


#tn-scroll-left{
	float:left;	
	width:2em;
	height:14em;
	margin:auto;
	padding:0em;
}

#tn-scroll-left .html-face{
	width:1em;
	height:1em;
	margin:auto;
	display: block;
	vertical-align: middle;
	position: relative;
	top: 6.6em;	
}

#tn-scroll-right{
	float:left;	
	width:2em;
	height:14em;
	margin:auto;
	padding:0em;
}

#tn-scroll-right .html-face{
	width:1em;
	height:1em;
	margin:auto;
	display: block;
	vertical-align: middle;
	position: relative;
	top: 6.6em;
}

#top {
	height: 6em;
	background-color: black;
}

#top *{
	float:left;
	position: relative;
	display:block;	
}

#info-top {
	padding-left: 3em;
	padding-top: 1em;
}
#info-top * {
	float:none;
}

.top-text {
	color: white;
}

#top .appName {
	font-size: 2em;
	padding-top: 1em;
	padding-left: 1em;
	padding-right: 3em;
}
#getTaskButtonContainer {
	padding-top: 3em;
	padding-left: 1em;
	padding-right: 1em;

}

#resetButtonContainer {
	padding-top: 3em;
	padding-left: 1em;
	padding-right: 1em;
}


.select-option {
	height: 3em;
	width: 3em;
	margin: auto;
}

button i {
	margin: 0.2em;
}

button span {
	margin-left: 0.2em;
	margin-right: 0.2em;
}

#taskAvailabilityLabelContainer .gwt-Label * {
	display: inline;
}

.user-name {
	font-size: 1.2em;
	font-weight: 900;
}

#task-count {
	font-size: 1.5em;
}

/*.select-option * {
	float:left;
}
*/
.gwt-PushButton {
	padding:0em;
}

.clear {
   height: 0;
   font-size: 1px;
   margin: 0;
   padding: 0;
   line-height: 0;
   clear: both;
}
.gwt-ProgressBar-shell {
  border: 2px solid #faf9f7;
  border-right: 2px solid #848280;
  border-bottom: 2px solid #848280;
  background-color: #AAAAAA;
  height: 14pt;
  /*width: 50%;*/
}
.gwt-ProgressBar-shell .gwt-ProgressBar-bar {
  background-color: #67A7E3;
}
.gwt-ProgressBar-shell .gwt-ProgressBar-text {
  padding: 0px;
  margin: 0px;
  color: white;
}
.gwt-SliderBar-shell {
  border: 2px solid #faf9f7;
  border-right: 2px solid #848280;
  border-bottom: 2px solid #848280;
  background-color: #efebe7;
  height: 34pt;
  width: 50%;
}
.gwt-SliderBar-shell .gwt-SliderBar-line {
  border: 1px solid black;
  background-color: white;
  height: 4px;
  width: 95%;
  top: 22pt;
  overflow: hidden;
}
.gwt-SliderBar-shell .gwt-SliderBar-knob {
  top: 14pt;
  width: 11px;
  height: 21px;
  z-index: 1;
  cursor: pointer;
}
.gwt-SliderBar-shell .gwt-SliderBar-tick {
  top: 12pt;
  width: 1px;
  height: 8pt;
  background: black;
  overflow: hidden;
}
.gwt-SliderBar-shell .gwt-SliderBar-label {
  top: 2pt;
  font-size: 8pt;
  cursor: default;
}
.gwt-SliderBar-shell-focused {
}
.gwt-SliderBar-shell .gwt-SliderBar-line-sliding {
  background-color: #DDDDDD;
  cursor: pointer;
}
